html {
  text-align: center;
  font-family: Helvetica;
}

#header, #designed {
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#header nav p a {
  font-size: 18px;
  color: white;
}

#process h2 {
  font-size: 32px;
  font-weight: bold;
}

#process h3 {
  font-size: 23px;
  font-weight: bold;
}

#process p {
  font-size: 14px;
}

#designed h2 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}
